<%= form_for(@ivcontact) do |f| %>
  <% if @ivcontact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ivcontact.errors.count, "error") %> prohibited this IV Contact from being saved:</h2>

      <ul>
      <% @ivcontact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :practice_id, value: @practice_id %>
  <%= hidden_field_tag :contact_specific_calculated, @contact_specific %>
  <%= f.hidden_field :contact_specific %>

  EDIT ISSUES:
   * Type of Contact not display underlying data
   * Questions about contact_specific being updated on edit
   * Maybe need to delete_all existing personnel

  <table class='space'>
    <tr>
      <td><%= f.label :contact_type, "Type of Contact" %></td>
      <td><%= f.select :contact_type, grouped_options_for_select(
        'Required monthly contact' => [['Required in-person visit', 1], ['Required phone call', 2],
        ['Other contact', 3]], 'Ad-hoc' => [['Other ad-hoc contact', 9]]),
        include_blank: true %></td>
    </tr>
    <tr id='ivcontact-contactmode' style="display: none;">
      <td><%= f.label :contact_mode, "Contact Method" %></td>
      <td><%= f.select :contact_mode, Ivcontact::CONTACT_MODE_VALS, include_blank: true %></td>
    </tr>
    <tr>
      <td><%= f.label :contact_dt, "Date of Contact" %></td>
      <td><%= f.text_field :contact_dt, value: @ivcontact.contact_dt.try(:strftime, "%m/%d/%Y"), class: 'datepicker' %> mm/dd/yyyy</td>
    </tr>
    <tr>
      <td><%= f.label :contact_duration, "Duration of Contact" %> (mins)</td>
      <td><%= f.text_field :contact_duration %></td>
    </tr>
    <tr>
      <td><%= f.label :contact_comments, "Comments" %> </td>
      <td><%= f.text_area :contact_comments, :rows => 3, :cols => 60 %></td>
    </tr>
  </table>

  <div id='add-ivcontact-personnel-content' style="display: none;">
    <table class='space deletable'>
      <tr>
        <td>Attendee:</td>
        <td><%= select_tag 'ivcontact[personnels][]', options_for_select(@personnel_list) %></td>
        <td><button class='delete-ivcontact-personnel-button' type='button'>Delete</button></td>
      </tr>
    </table>
  </div>

  <div id='personnel-wrapper' class='box'>
    <p class='title'>Title for Personnel</p>
    <div id='add-ivcontact-personnel-wrapper'>
      <button id='add-ivcontact-personnel-button' type='button'>Add Staff Member</button>
    </div>
  </div>

  <div class='boxed'>
  <h3>Topics Discussed:  Check all topics that apply</h3>
  <table class='space lined background-lightpurple' style="width: 50%;">
    <tr>
      <th colspan='3'>HIT-specific</th>
    </tr>
    <tr>
      <th>EHR data extraction</th>
      <th colspan='2'>&nbsp;</th>
    </tr>
    <tr>
      <td>
        <%= f.check_box :topic_ehr_vendor %>
        <%= f.label :topic_ehr_vendor, "Work with EHR vendor" %>
      </td>
      <td>
        <%= f.check_box :topic_validate_data %>
        <%= f.label :topic_validate_data, "Validate data" %>
      </td>
      <td>
        <%= f.check_box :topic_data_error %>
        <%= f.label :topic_data_error, "Data errors" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :topic_3rdparty_vendor %>
        <%= f.label :topic_3rdparty_vendor, "Work with 3rd party vendor" %>
      </td>
      <td>
        <%= f.check_box :topic_meaningful_use %>
        <%= f.label :topic_meaningful_use, "Meaningful Use" %>
      </td>
      <td>
        <%= f.check_box :topic_coding %>
        <%= f.label :topic_coding, "Coding/IT needs" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :topic_custom_query %>
        <%= f.label :topic_custom_query, "Work on custom queries" %>
      </td>
      <td>
        <%= f.check_box :topic_cqm_report %>
        <%= f.label :topic_cqm_report, "Generate clinical quality measure reports" %>
      </td>
      <td>
        <%= f.check_box :topic_hit_display %>
        <%= f.label :topic_hit_display, "Create data displays" %>
      </td>
    </tr>
    <tr>
      <td> &nbsp; </td>
      <td>
        <%= f.check_box :topic_abcs %>
        <%= f.label :topic_abcs, "Submit ABCS measures to study team" %>
      </td>
      <td>
        <%= f.check_box :topic_reminder %>
        <%= f.label :topic_reminder, "Point of care reminders" %>
      </td>
    </tr>
  </table>
  <br />
  <table class='space lined background-darkpurple' style="width: 50%;">
    <tr>
      <th colspan='4'>QI Processes</th>
    </tr>
    <tr>
      <td>
        <%= f.check_box :topic_self_assessment %>
        <%= f.label :topic_self_assessment, "Review/collect Self-Assessment Survey" %>
      </td>
      <td>
        <%= f.check_box :topic_brainstorm %>
        <%= f.label :topic_brainstorm, "Brainstorm ideas" %>
      </td>
      <td>
        <%= f.check_box :topic_roles %>
        <%= f.label :topic_roles, "Identify roles/responsibilities" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :topic_share %>
        <%= f.label :topic_share, "Share best practices from another site" %>
      </td>
      <td>
        <%= f.check_box :topic_observe_flow %>
        <%= f.label :topic_observe_flow, "Observe team/clinic flow" %>
      </td>
      <td>
        <%= f.check_box :topic_qi_support %>
        <%= f.label :topic_qi_support, "Provide QI meeting support" %>
      </td>
    </tr>
      <td>
        <%= f.check_box :topic_planning %>
        <%= f.label :topic_planning, "Discuss PDSA cycles or action planning" %>
      </td>
      <td>
        <%= f.check_box :topic_consensus %>
        <%= f.label :topic_consensus, "Facilitate a consensus discussion" %>
      </td>
      <td>
        <%= f.check_box :topic_huddle %>
        <%= f.label :topic_huddle, "Huddles" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :topic_workflow %>
        <%= f.label :topic_workflow, "Support workflow design" %>
      </td>
      <td>
        <%= f.check_box :topic_connect %>
        <%= f.label :topic_connect, "Connect practice to another practice" %>
      </td>
      <td>
        <%= f.check_box :topic_review_data %>
        <%= f.label :topic_review_data, "Review data" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :topic_leadership %>
        <%= f.label :topic_leadership, "Leadership meeting" %>
      </td>
      <td>
        <%= f.check_box :topic_resource %>
        <%= f.label :topic_resource, "Supply a tool or resource to support work" %>
      </td>
      <td>
        <%= f.check_box :topic_qi_display %>
        <%= f.label :topic_qi_display, "Data displays/run-charts" %>
      </td>
    </tr>
    <tr>
    </tr>
  </table>

  <table class='space lined background-darkpurple' style="width: 50%;">
    <tr>
      <th>QI Processes</th>
    </tr>
    <tr>
      <td>
        <%= f.check_box :topic_other %>
        <%= f.label :topic_other, "Other" %>
        <span id='ivcontact-topicotherspecify'>
          &nbsp; &nbsp; &nbsp;<%= f.label :topic_other_specify, "Specify:" %>
          <%= f.text_field :topic_other_specify, size: 60 %>
        </span>
      </td>
    </tr>
  </table>
  </div>

  <br />
  <div id='ivcontact-milestone' class='boxed'>
  <h3>H2N High Leverage Changes</h3>
  <p>Please rate this practice's progress on <u>every high leverage change</u> listed below.</p>
  <table class='space lined fulltext background-pink'>
    <tr>
      <th width="50%">Milestone</th>
      <th>Progress</th>
    </tr>
    <tr>
      <td>Embed clinical evidence on ABCS into daily work to guide care for patients</td>
      <td><%= f.collection_radio_buttons :milestone_evidence_progress, Ivcontact::PROGRESS_VALS, "last", "first" do |b|
          b.label { b.radio_button + b.text } + tag("br")
        end %>
      </td>
    </tr>
    <tr>
      <td>Utilize reliable, robust data to understand and improve ABCS measures</td>
      <td><%=
        f.collection_radio_buttons :milestone_data_progress, Ivcontact::PROGRESS_VALS, "last", "first" do |b|
          b.label { b.radio_button + b.text } + tag("br")
        end
        %>
      </td>
    </tr>
    <tr>
      <td>Establish a regular QI process involving cross-functional teams (QI, care team, huddles, all staff)</td>
      <td><%=
        f.collection_radio_buttons :milestone_qi_progress, Ivcontact::PROGRESS_VALS, "last", "first" do |b|
          b.label { b.radio_button + b.text } + tag("br")
        end
        %>
      </td>
    </tr>
    <tr>
      <td>Identify at-risk patients for prevention outreach</td>
      <td><%=
        f.collection_radio_buttons :milestone_atrisk_progress, Ivcontact::PROGRESS_VALS, "last", "first" do |b|
          b.label { b.radio_button + b.text } + tag("br")
        end
        %>
      </td>
    </tr>
    <tr>
      <td>Define roles and responsibilities (tasks) across the care team to identify and manage ABCS populations</td>
      <td><%=
        f.collection_radio_buttons :milestone_task_progress, Ivcontact::PROGRESS_VALS, "last", "first" do |b|
          b.label { b.radio_button + b.text } + tag("br")
        end
        %>
      </td>
    </tr>
    <tr>
      <td>Deepen patient self-management support for action planning around ABCS</td>
      <td><%=
        f.collection_radio_buttons :milestone_selfmgmt_progress, Ivcontact::PROGRESS_VALS, "last", "first" do |b|
          b.label { b.radio_button + b.text } + tag("br")
        end
        %>
      </td>
    </tr>
    <tr>
      <td>Develop robust linkages to smoking cessation, CDSMP and other evidence-based community resources</td>
      <td><%=
        f.collection_radio_buttons :milestone_community_progress, Ivcontact::PROGRESS_VALS, "last", "first" do |b|
          b.label { b.radio_button + b.text } + tag("br")
        end
        %>
      </td>
    </tr>
  </table>
  </div>

  <div> PDSA Cycle nested stuff goes here </div>

  <div id='ivcontact-gyr' class='boxed'>
    <h3>Green-Yellow-Red Assessment of Progress</h3>
    <p> What is your assessment of this practice's ability to continue to make progress
      <strong>at this point in time</strong>? Your confidence in their ability to make progress
      may be based on their activities, overall change capacity, and/or other relevant
      internal and external factors.  Mark each site as green, yellow or red using the definitions provided, then indicate the activities or situations on which you are basing your rating.
      (A practice will likely move back and forth throughout the initiative based on current
      conditions and situations.)</p>
    <table class='space lined'>
      <tr>
        <th width="33%" style='background-color: green;'>Green</th>
        <th width="33%" style='background-color: yellow;'>Yellow</th>
        <th width="33%" style='background-color: red;'>Red</th>
      </tr>
      <tr>
        <td>This site is actively engaged in the project and successfully using QI methods to improve care around the ABCS measures. They appreciate encouragement and occasional support, but their needs are minimal.</td>
        <td>This site is engaged, but their progress is hindered by current situations/activities. They require additional support and closer monitoring to assess and manage progress.</td>
        <td>This site has barriers or issues that are currently impeding progress. They need close monitoring or support.</td>
      </tr>
    </table>
    <br />
    <p>
      <%= f.label :gyr, "Assessment:" %>
      <%= f.select :gyr, Ivcontact::GYR_VALS, include_blank: true %>
    </p>
    <p>
      <%= f.label :gyr_notes, "Activities or Situations for Rating" %>
      <%= f.text_area :gyr_notes, cols: 60, rows: 2 %>
    </p>
  </div>

  <div id='tier1' style="display: none;">
    <dl>
      <dt>LEADERSHIP/RESOURCES</dt>
      <dd>&bull; Vacancies or transitions have led to limited/lack of capacity for H2N work</dd>
      <dd>&bull; Has not prioritized making changes around H2N milestones</dd>
    </dl><br />
    <dl>
      <dt>RESOURCES</dt>
      <dd>&bull; Capacity for change is challenged due to limited resources and competing priorities</dd>
      <dd>&bull; Financial instability &ndash; no real financial support or resources</dd>
    </dl><br />
    <dl>
      <dt>DATA/QI</dt>
      <dd>&bull; Data reporting and collection is not established</dd>
    </dl><br />
    <dl>
      <dt>CONGRUENCE with H2N CONTENT</dt>
      <dd>&bull; Site has limited autonomy to implement changes due to ownership or collective bargaining constraints</dd>
      <dd>&bull; Operate under traditional medical model</dd>
    </dl><br />
    <dl>
      <dt>OTHER DISTINGUISHING CHARACTERISTICS</dt>
      <dd>&bull; Poor staff morale</dd>
      <dd>&bull; Lack of incentives</dd>
      <dd>&bull; Time intensive for coach/facilitator</dd>
    </dl>
  </div>

  <div id='tier2' style="display: none;">
    <dl>
      <dt>LEADERSHIP/RESOURCES</dt>
      <dd>&bull; Vacancies or transitions have led to limited/lack of capacity for H2N work</dd>
      <dd>&bull; Leaders have given initial prioritization to H2N but resources are limited</dd>
      <dd>&bull; Leadership exists at some, but not all, levels of the practice</dd>
    </dl><br />
    <dl>
      <dt>DATA/QI</dt>
      <dd>&bull; Building capacity and QI infrastructure</dd>
    </dl><br />
    <dl>
      <dt>CONGRUENCE with H2N CONTENT</dt>
      <dd>&bull; Getting only the basic practices on first 5 milestones</dd>
      <dd>&bull; Emerging team practice models; role, licensure, FTE/Pop</dd>
    </dl>
  </div>

  <div id='tier3' style="display: none;">
    <dl>
      <dt>LEADERSHIP/RESOURCES</dt>
      <dd>&bull; Leadership has given significant prioritization to H2N and starting to align H2N with organizational goals</dd>
      <dd>&bull; No standard management practices throughout organization/still vulnerable to turnover</dd>
    </dl><br />
    <dl>
      <dt>DATA/QI</dt>
      <dd>&bull; Beginning to demonstrate use of data in an actionable way to improve practice and patient care</dd>
    </dl><br />
    <dl>
      <dt>CONGRUENCE with H2N CONTENT</dt>
      <dd>&bull; Advancing practice and policies in place on first 5 milestones</dd>
      <dd>&bull; Designing and testing changes around the last two "advanced" milestones</dd>
    </dl>
  </div>

  <div id='tier4' style="display: none;">
    <dl>
      <dt>LEADERSHIP/RESOURCES</dt>
      <dd>&bull; Leadership is fully engaged and has demonstrated alignment of H2N and practice goals</dd>
      <dd>&bull; More standard work in place</dd>
    </dl><br />
    <dl>
      <dt>DATA/QI</dt>
      <dd>&bull; Using data in an actionable way to improve practice/care for patients</dd>
      <dd>&bull; Stronger foundational QI structure</dd>
    </dl><br />
    <dl>
      <dt>CONGRUENCE with H2N CONTENT</dt>
      <dd>&bull; Full implementation of first 5 milestones</dd>
      <dd>&bull; Stronger foundational QI structure</dd>
    </dl><br />
    <dl>
      <dt>OTHER DISTINGUISHING CHARACTERISTICS</dt>
      <dd>&bull; Practice sees how H2N concepts like proactive care, team-care and QI can be applied to other areas of the organization</dd>
    </dl>
  </div>

  <div id='ivcontact-tier' class='boxed'>
    <h3>Tiering Tool for Capacity</h3>
    <p>The Tiering Tool includes descriptions of the characteristics sites may possess at various phases of their journey toward developing change capacity and improving health outcomes. Using the Tier Level Characteristics table below, identify where this practice is with its progress. Base your assessment on what you have observed or learned from the practice as its coach. Please this practice in the category that best matches its characteristics. Do not move the practice up to the next level unless you feel confident that the changes it has made to date will be sustained.</p>
    <table id='tier-tooltip' class='space lined background-green'>
      <tr title="Click column heading to view description">
        <th>&nbsp;</th>
        <th id='ivcontact-tier1'>STARTING<br /></th>
        <th id='ivcontact-tier2'>LIMITED PRACTICE CHANGES;<br />NEED TO BUILD CAPACITY<br /></th>
        <th id='ivcontact-tier3'>MAKING MANY PRACTICE CHANGES<br /></th>
        <th id='ivcontact-tier4'>MANAGING MULTI-DIMENSIONAL CHANGE<br /></th>
      </tr>
      <% for t in 1..5 %>
        <tr align='center'>
          <td><%= Ivcontact::CONTACT_SPECIFIC_VALS.key(t) %></td>
          <% if t == @contact_specific %>
            <td><%= f.radio_button :tier, 1 %></td>
            <td><%= f.radio_button :tier, 2 %></td>
            <td><%= f.radio_button :tier, 3 %></td>
            <td><%= f.radio_button :tier, 4 %></td>
          <% else %>
            <% varname = "tier_#{t}" %>
            <td><%= radio_button_tag varname, 1, @practice.tier_value(t) == 1, disabled: true %></td>
            <td><%= radio_button_tag varname, 2, @practice.tier_value(t) == 2, disabled: true %></td>
            <td><%= radio_button_tag varname, 3, @practice.tier_value(t) == 3, disabled: true %></td>
            <td><%= radio_button_tag varname, 4, @practice.tier_value(t) == 4, disabled: true %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div id='ivcontact-pcmha' class='boxed'>
    <h3>Practice Self-Assessment Survey</h3>

    <p> HLC 1: Embed clinical evidence on ABCS into daily work to guide care for patients </p>
    <table class='lined space background-orange'>
      <tr>
        <th>Items</th>
        <th colspan='4'>Lowest ... Highest</th>
      </tr>
      <tr align="center">
        <td>1. Comprehensive, guideline-based information on prevention or chronic illness treatment</td>
        <td>
          ...is not readily available in practice.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_1, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is available but does not influence care.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_1, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is available to the team and is integrated into care protocols and/or reminders.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_1, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...guides the creation of tailored, individual-level data that is available at the time of the visit.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_1, item %> <%= item %>
          <% end %>
        </td>
      </tr>
    </table>

    <br />
    <p> HLC 2: Utilize reliable, robust data to understand and improve ABCS measures </p>
    <table class='lined space background-pink'>
      <tr align="center">
        <td>2. Performance measures </td>
        <td>
          ...are not available for the clinical site.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_2, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are available for the clinical site, but are limited in scope..<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_2, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are comprehensive &ndash; including clinical, operational, and patient experience measures &ndash; and available for the practice, but not for individual providers..<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_2, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are comprehensive &ndash; including clinical, operational, and patient experience measures &ndash; and fed back to individual providers.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_2, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>3. Reports on care processes or outcomes of care</td>
        <td>
          ...are not routinely available to practice teams. <br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_3, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are routinely provided as feedback to practice teams but not reported externally.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_3, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are routinely provided as feedback to practice teams, and reported externally (e.g., to patients, other teams or external agencies) but with team identities masked.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_3, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are routinely provided as feedback to practice teams, and transparently reported externally to patients, other teams and external agencies.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_3, item %> <%= item %>
          <% end %>
        </td>
      </tr>
    </table>

    <br />
    <p>HLC 3: Establish a regular QI process involving cross-functional teams</p>
    <table class='lined space background-blue'>
      <tr align="center">
        <td>4. The responsibility for conducting quality improvement activities</td>
        <td>
          ...is not assigned by leadership to any specific group.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_4, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is assigned to a group without committed resources.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_4, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is assigned to an organized quality improvement group who receive dedicated resources.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_4, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is shared by all staff, from leadership to team members, and is made explicit through protected time to meet and specific resources to engage in QI.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_4, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>5. Quality improvement activities</td>
        <td>
          ...are not organized or supported consistently.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_5, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are conducted on an ad hoc basis in reaction to specific problems.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_5, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are based on a proven improvement strategy in reaction to specific problems.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_5, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are based on a proven improvement strategy and used continuously in meeting organizational goals.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_5, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>6. Quality improvement activities are conducted by</td>
        <td>
          ...a centralized committee or department.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_6, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...topic-specific QI committees. <br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_6, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...all practice teams supported by a QI infrastructure.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_6, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...practice teams supported by a QI infrastructure with meaningful involvement of patients and families.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_6, item %> <%= item %>
          <% end %>
        </td>
      </tr>
    </table>

    <br />
    <p> HLC 4: Identify at-risk patients for prevention outreach </p>
    <table class='lined space background-lightpurple'>
      <tr>
        <th>Items</th>
        <th colspan='4'>Lowest ... Highest</th>
      </tr>
      <tr align="center">
        <td>7. Registry or panel-level data</td>
        <td>
          ...are not available to assess or manage care for practice populations. <br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_7, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are available to assess and manage care for practice populations, but only on an ad hoc basis.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_7, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are regularly available to assess and manage care for practice populations, but only for a limited number of diseases and risk states.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_7, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are regularly available to assess and manage care for practice populations, across a comprehensive set of diseases and risk states.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_7, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>8. Registries on individual patients</td>
        <td>
          ...are not available to practice teams for pre-visit planning or patient outreach.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_8, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are available to practice teams but are not routinely used for pre-visit planning or patient outreach.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_8, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are available to practice teams and routinely used for pre-visit planning or patient outreach, but only for a limited number of diseases and risk states.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_8, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are available to practice teams and routinely used for pre-visit planning and patient outreach, across a comprehensive set of diseases and risk states.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_8, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>9. A standard method or tool(s) to stratify patients by risk level</td>
        <td>
          ...is not available.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_9, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is available but not consistently used to stratify all patients.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_9, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is available and is consistently used to stratify all patients but is inconsistenly integrated into all aspects of care delivery.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_9, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is available, consistenly used to stratify all patients and is integrated into all aspects of care delivery.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_9, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>10. Visits </td>
        <td>
          ...largely focus on acute problems of patient. <br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_10, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are organized around acute problems but with attention to ongoing illness and prevention needs if time permits.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_10, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are organized around acute problems but with attention to ongoing illness and prevention needs if time permits. The practice also uses subpopulation reports to proactively call groups of patients in for planned care visits.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_10, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are organized to address both acute and planned care needs. Tailored guideline-based information is used in team huddles to ensure all outstanding patient needs are met at each encounter.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_10, item %> <%= item %>
          <% end %>
        </td>
      </tr>
    </table>

    <br />
    <p> HLC 5: Define roles and responsibilities (tasks) across the care team to identify and manage ABCS populations </p>
    <table class='lined space background-orange'>
      <tr>
        <th>Items</th>
        <th colspan='3'>Lowest ... Highest</th>
      </tr>
      <tr align="center">
        <td>11. Non-physician practice team members</td>
        <td>
          ...play a limited role in providing clinical care.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_11, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are primarily tasked with managing patient flow and triage.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_11, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...provide some clinical services such as assessment or self-management support. <br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_11, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...perform key clinical service roles that match their abilities and credentials. <br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_11, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>12. The practice</td>
        <td>
          ...does not have an organized approach to identify or meet the training needs for providers and other staff.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_12, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...routinely assesses training needs and ensures that staff are appropriately trained for their roles and responsibilities.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_12, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...routinely assesses training needs, ensures that staff are appropriately trained for their roles and responsibilities, and provides some cross training to permit staffing flexibility. <br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_12, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...routinely assesses training needs, ensures that staff are appropriately trained for their roles and responsibilities, and provides cross training to ensure that patient needs are consistently met.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_12, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>13. Care plans</td>
        <td>
          ...are not routinely developed or recorded. <br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_13, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are developed and recorded but reflect providers' priorities only.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_13, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are developed collaboratively with patients and families and include self-management and clinical goals, but they are not routinely recorded or used to guide subsequent care.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_13, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are developed collaboratively, include self-management and clinical management goals, are routinely recorded, and guide care at every subsequent point of service. <br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_13, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>14. Clinical care management services for high-risk patients</td>
        <td>
          ...are not available.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_14, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are provided by external care managers with limited connection to practice. <br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_14, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are provided by external care managers who regularly communicate with the care team.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_14, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are systematically provided by the care manager functioning as a member of the practice team, regardless of location.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_14, item %> <%= item %>
          <% end %>
        </td>
      </tr>
    </table>

    <br />
    <p> HLC 6: Deepen patient self-management support for action planning around ABCS </p>
    <table class='lined space background-pink'>
      <tr align="center">
        <td>15. Assessing patient and family values and preferences</td>
        <td>
          ...is not done.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_15, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is done, but not used in planning and organizing care.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_15, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is done and providers incorporate it in planning and organizing care on an ad hoc basis.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_15, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is systematically done and incorporated in planning and organizing care.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_15, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>16. Involving patients in decision-making and care</td>
        <td>
          ...is not a priority.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_16, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is accomplished by provision of patient education materials or referrals to classes. <br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_16, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is supported and documented by practice teams.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_16, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is systematically supported by practice teams trained in decision-making techniques.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_16, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>17. Self-management support</td>
        <td>
          ...is limited to the distribution of information (pamphlets, booklets).<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_17, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is accomplished by referral to self-management classes or educators.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_17, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is provided by goal setting and action planning with members of the practice team.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_17, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is provided by members of the practice team trained in patient empowerment and problem-solving methodologies.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_17, item %> <%= item %>
          <% end %>
        </td>
      </tr>
    </table>

    <br />
    <p> HLC 7: Develop robust linkages to smoking cession, CDSMP and other evidence-based community resources </p>
    <table class='lined space background-blue'>
      <tr align="center">
        <td>18. Test results and care plans</td>
        <td>
          ...are not communicated to patients. <br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_18, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are communicated to patients based on an ad hoc approach.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_18, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are systematically communicated to patients in a way that is convenient to the practice.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_18, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...are systematically communicated to patients in a variety of ways that are convenient to patients.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_18, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>19. Patients in need of specialty care, hospital care, or supportive community-based resources</td>
        <td>
          ...cannot reliably obtain needed referrals to partners with whom the practice has a relationship.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_19, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...obtain needed referrals to partners with whom the practice has a relationship.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_19, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...obtain needed referrals to partners with whom the practice has a relationship and relevant information is communicated in advance.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_19, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...obtain needed referrals to partners with whom the practice has a relationship, relevant information is communicated in advance, and timely follow-up after the visit occurs. <br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_19, item %> <%= item %>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>20. Linking patients to supportive community-based resources</td>
        <td>
          ...is not done systematically.<br />
          <% (1..3).each do |item| %>
            <%= f.radio_button :pcmha_20, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is limited to providing patients a list of identified community resources in an accessible format.<br />
          <% (4..6).each do |item| %>
            <%= f.radio_button :pcmha_20, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is accomplished through a designated staff person or resource responsible for connecting patients with community resources.<br />
          <% (7..9).each do |item| %>
            <%= f.radio_button :pcmha_20, item %> <%= item %>
          <% end %>
        </td>
        <td>
          ...is accomplished through active coordination between the health system, community service agencies and patients and accomplished by a designated staff person.<br />
          <% (10..12).each do |item| %>
            <%= f.radio_button :pcmha_20, item %> <%= item %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div id='ivcontact-disruption' class='boxed'>
    <h3>Disruptions to Practice</h3>
    <div id='ivcontact-disruption-warning'>
      <h2>Note: The "Which In-Person Contact" question has not been answered.</h2>
      <h3>Please answer that above to allow the following questions to display properly.</h3>
    </div>
    <p> Have there been any of the following major changes in this practice in the <span id='ivcontact-disruption-12'>last 12 months</span><span id='ivcontact-disruption-3'>last 3 months</span>?</p>
    <table class='lined space fulltext background-orange'>
      <tr>
        <td><%= f.label :prac_change_ehr, "Implemented a new or different Electronic Health Record (EHR)" %></td>
        <td><%= f.check_box :prac_change_ehr %></td>
      </tr>
      <tr>
        <td><%= f.label :prac_change_newlocation, "Moved to a new location" %></td>
        <td><%= f.check_box :prac_change_newlocation %></td>
      </tr>
      <tr>
        <td><%= f.label :prac_change_lost_clin, "Lost one or more clinicians" %></td>
        <td><%= f.check_box :prac_change_lost_clin %></td>
      </tr>
      <tr>
        <td><%= f.label :prac_change_lost_om, "Lost one or more office managers or head nurses" %></td>
        <td><%= f.check_box :prac_change_lost_om %></td>
      </tr>
      <tr>
        <td><%= f.label :prac_change_boughtover, "Been purchased by or affiliated with a larger organization" %></td>
        <td><%= f.check_box :prac_change_boughtover %></td>
      </tr>
      <tr>
        <td><%= f.label :prac_change_billing, "New billing system" %></td>
        <td><%= f.check_box :prac_change_billing %></td>
      </tr>
      <tr>
        <td><%= f.label :prac_change_other, "Other" %></td>
        <td><%= f.check_box :prac_change_other %></td>
      </tr>
      <tr id='ivcontact-pracchangespecify'>
        <td><%= f.label :prac_change_specify, "Please specify:" %></td>
        <td><%= f.text_area :prac_change_specify, rows: 3, cols: 50 %></td>
      </tr>
    </table>
  </div>

  <div class="actions">
    <%= f.submit "Save Contact" %>
  </div>
<% end %>
