<div id='wrapper'>
<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<h1>HOW DID YOU GET HERE? YOU'RE NOT SUPPOSED TO SEE THIS. PLEASE GO AWAY.</h1>
<%= link_to 'download', ivcontacts_path(format: :csv) %>
<table class='simple-grid'>
  <thead>
    <tr>
    <th>Practice</th>
    <th>Contact Date</th>
    <th>Contact Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ivcontacts.each do |ivcontact| %>
      <tr>
        <td><%= ivcontact.practice.name %></td>
        <td><%= ivcontact.contact_dt %></td>
        <td><%= Ivcontact::CONTACT_TYPE_VALS.key(ivcontact.contact_type) %></td>
        <td><%= link_to 'Show', ivcontact %></td>
        <td><%= link_to 'Edit', edit_ivcontact_path(ivcontact) %></td>
        <td><%= link_to 'Destroy', ivcontact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ivcontact', new_ivcontact_path %>
</div>