<div id='popupForm'>
  <%= form_for(@coach_item) do |f| %>
    <% if @coach_item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@coach_item.errors.count, "error") %> prohibited this activity from being saved:</h2>

        <ul>
        <% @coach_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="closePopupForm">
      <a><%= image_tag("close.gif", alt: "Close") %></a>
    </div>
    <h3>New Action Item or Coach Follow-up</h3>
    <table class='space'>
      <tr>
        <td><%= f.label :practice_id, "Practice" %></td>
        <td colspan='4'><%= f.select :practice_id, options_for_select(policy_scope(Practice).order("name").map{ |p| [p.name, p.id] }, selected: @practice.id), include_blank: true %></td>
      </tr>
      <tr>
        <td><%= f.label :item_type, "Note Type" %></td>
        <td><%= f.select :item_type, CoachItem::ITEM_TYPE_VALS, include_blank: true %></td>
        <td>&nbsp;</td>
        <td><%= f.label :add_dt, "Date Added" %></td>
        <td><%= f.text_field :add_dt, class: 'datepicker' %> mm/dd/yyyy</td>
      </tr>
      <tr>
        <td><%= f.label :complete, "Completed?" %></td>
        <td><%= f.check_box :complete %></td>
        <td>&nbsp;</td>
        <td><%= f.label :complete_dt, "Completion Date" %></td>
        <td><%= f.text_field :complete_dt, class: 'datepicker' %> mm/dd/yyyy</td>
      </tr>
      <tr>
        <td><%= f.label :notes, "Notes" %></td>
        <td colspan='4'><%= f.text_area :notes, cols: 70, rows: 5 %></td>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit "Add Activity" %>
    </div>
  <% end %>
</div>