<div id='wrapper'>
<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<h1>Coach View for <%= @coach.name %></h1>

<table class='typical enable-data-table'>
  <thead>
    <tr>
      <th>Practice</th>
      <th>New Contact</th>
      <th>New Action Item</th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= link_to practice.name, edit_coach_practice_path(practice) %></td>
        <td align=center><%= link_to image_tag("plus-blue.png", size: "20x20", alt: "Add New Contact"), new_coach_practice_ivcontact_path(practice), class: 'addButton', title: 'Add New Contact', rel: 'tooltip' %></td>
        <td align=center>link_to new_action_item </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to "Back", :back %>
</div>
