<div id='wrapper'>
<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<h1>Coach View for <%= @coach.name %></h1>

<table class='typical enable-data-table'>
  <thead>
    <tr>
      <th>Practice</th>
      <th>Last Required Contact</th>
      <th>Status</th>
      <th>EHR Vendor</th>
      <th>Last GYR Rating</th>
      <th>New Contact</th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= link_to practice.name, coach_practice_path(practice) %></td>
        <td>
          <% if practice.last_required_iv_contact && practice.last_required_iv_contact <= Date.today - 45 %>
            <span style="color: red;">
          <% else %>
            <span>
          <% end %>
          <%= practice.last_required_iv_contact %>
          </span>
        </td>
        <td><%= practice.last_iv_status %></td>
        <td><%= practice.iv_ehr_vendor %></td>
        <td>
          <%= get_gyr_html(practice.last_iv_gyr) %>
        </td>
        <td align=center><%= link_to image_tag("plus-blue.png", size: "20x20", alt: "Add New Contact"), new_coach_practice_ivcontact_path(practice), class: 'addButton', title: 'Add New Contact', rel: 'tooltip' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to "Back", :back %>
</div>
