<div id='wrapper'>
  <%= render 'layouts/header' %>

  <div id='left-2'>
    <h1><%= @practice.name %></h1>
  </div>
  <div id='right-2'>
    <h1>Coach: <%= @practice.coach.name if @practice.coach %></h1>
  </div>
  <div class='clearfix'></div>

  <div id='left-2'>
    <div>
      <h3>Required Site Visits</h3>
      <table class='lined space'>
        <tr>
          <td>Visit</td>
          <td>Date</td>
        </tr>
        <tr>
          <td>Baseline</td>
          <td><%= @visit1.try(:contact_dt) || "&mdash;".html_safe %></td>
        </tr>
        <tr>
          <td>Quarter 2</td>
          <td><%= @visit2.try(:contact_dt) || "&mdash;".html_safe %></td>
        </tr>
        <tr>
          <td>Quarter 3</td>
          <td><%= @visit3.try(:contact_dt) || "&mdash;".html_safe %></td>
        </tr>
        <tr>
          <td>Quarter 4</td>
          <td><%= @visit4.try(:contact_dt) || "&mdash;".html_safe %></td>
        </tr>
        <tr>
          <td>Quarter 5</td>
          <td><%= @visit5.try(:contact_dt) || "&mdash;".html_safe %></td>
        </tr>
      </table>
    </div>
    <br />

    <div class='box'>
      <div id='openPopupForm'>
        <h2 title="Coach Notes" rel="tooltip">Coach Notes
          <a class='addButton' title="Add New Item" rel="tooltip">
            <%= image_tag("plus-blue.png", size: "15x15") %>
          </a>
        </h2>
      </div>
      <%= render partial: 'item_new_popup' %>
      <h3>Action Items for Practice</h3>
      <table class='typical enable-data-table'>
        <thead>
          <tr>
            <th>Add Date</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <% @practice.coach_items.where(item_type: CoachItem::ITEM_TYPE_VALS["Action item"]).each do |i| %>
            <tr>
              <td><%= link_to i.add_dt || "-", edit_coach_practice_coach_item_path(@practice, i) %></td>
              <td><%= truncate(i.notes, length: 255) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h3>Coach Follow-ups</h3>
      <table class='typical enable-data-table'>
        <thead>
          <tr>
            <th>Add Date</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <% @practice.coach_items.where(item_type: CoachItem::ITEM_TYPE_VALS["Coach follow-up"]).each do |i| %>
            <tr>
              <td><%= link_to i.add_dt || "-", edit_coach_practice_coach_item_path(@practice, i) %></td>
              <td><%= truncate(i.notes, length: 255) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id='right-2'>
    <h2 title="Intervention Contacts" rel="tooltip">Intervention Contacts
      <%= link_to image_tag("plus-blue.png", size: "15x15"), new_coach_practice_ivcontact_path(@practice), class: 'addButton' %>
    </h2>
    <% if @practice.ivcontacts.any? %>
      <table class='typical enable-data-table'>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <% @practice.ivcontacts.each do |c| %>
            <tr>
              <td><%= link_to c.contact_dt || "-", edit_coach_practice_ivcontact_path(@practice, c) %></td>
              <td><%= Ivcontact::CONTACT_TYPE_VALS.key(c.contact_type) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class='clearfix'></div>

  <div class="actions">
    <br />
    <%= link_to "Back", :back %>
  </div>
</div>