<%= form_for(@partner) do |f| %>
  <% if @partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
      <% @partner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class='space'>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :site_id, "Affiliated Site" %></td>
      <td><%= f.select :site_id, Site::SITE_VALS %></td>
    </tr>
    <tr>
      <td><%= f.label :email, "Email" %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :role, "Level of Access" %></td>
      <td><%= f.select :role, Partner::ROLE_VALS %></td>
    </tr>
    <tr>
      <td><%= f.label :recruiter, "Recruiter?" %></td>
      <td><%= f.check_box :recruiter %></td>
    </tr>
    <tr>
      <td><%= f.label :coach, "Coach?" %></td>
      <td><%= f.check_box :coach %></td>
    </tr>
    <tr>
      <td><%= f.label :password, "Reset Password" %></td>
      <td><%= f.text_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation, "Repeat Password" %></td>
      <td><%= f.text_field :password_confirmation %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
