<% if @partner.practices.any? %>
  <table class='typical enable-data-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Primary<br />Contact</th>
        <th>Last<br />Activity</th>
        <th>Status</th>
        <th>PAL</th>
        <th>Parent<br />Organization</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @partner.practices.includes(:event, :personnel).each do |p| %>
        <tr>
          <td><%= link_to p.name, edit_practice_path(p) %></td>
          <td><%= p.personnels.primary_contact %></td>
          <td><%= p.events.last_contact %></td>
          <td><%= p.status %></td>
          <td><%= p.pal_status %></td>
          <td><%= p.parent_organization %></td>
          <td><%= link_to "View Activities", practice_events_path(p) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p> No practices associated with this partner. </p>
<% end %>