<% if policy_scope(Practice).all.any? %>
  <table class='typical enable-data-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Primary<br />Contact</th>
        <th>Last<br />Activity</th>
        <th>Status</th>
        <th>PAL</th>
        <th>Parent<br />Organization</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <!-- N.b., much of this exists in methods in the Practice model,
           but it's causing an n+1 query slowdown -->
      <% policy_scope(Practice).includes(:events, :personnels).each do |p| %>
        <tr>
          <td><%= link_to p.name, edit_practice_path(p) %></td>
          <td><%= p.personnels.where(site_contact_primary: true).first.try(:name) %></td>
          <td><%= p.events.order('schedule_dt').last.try(:schedule_dt).try(:strftime, "%Y-%m-%d") %></td>
          <td><%= p.status %></td>
          <td><%= p.pal_status %></td>
          <td><%= p.parent_organization %></td>
          <td><%= link_to "View Activities", practice_events_path(p) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p> No practices associated with this partner. </p>
<% end %>