<%= render 'layouts/header' %>

<%= render 'home_for' %>

<div id='left-2'>
  <div id='openPopupForm'>
    <h3 title="Upcoming Activities" rel="tooltip">Upcoming Activity Snapshot
      <a class='addButton' title="Add New Activity" rel="tooltip">
        <%= image_tag("plus-blue.png", size: "15x15") %>
      </a>
    </h3>
  </div>
  <%= render partial: 'layouts/event_new_popup' %>
  <%= render 'activity_snapshot_single' %>
</div>

<div id='right-2'>
  <h3 class='float-left'> Practice Snapshot </h3>
  <%= link_to image_tag("plus-arrow-blue.png", size: "30x15", alt: "Add New Practice"), new_partner_practice_path(@partner), class: 'addButton', title: 'Add New Practice', rel: 'tooltip' %>

  <span class='clearfix'>&nbsp;</span>
  <% if @selected_partner_id == 0 %>
    <%= render 'practice_snapshot_all' %>
  <% else %>
    <%= render 'practice_snapshot_single' %>
  <% end %>
</div>

<div class='clearfix'></div>

<%= link_to "Back", :back %>