<%= form_for([@partner, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>
    <%= @event.schedule_dt.try(:strftime, "%B %e, %Y")%>
    <%= @event.schedule_tm.try(:strftime, "%l:%M %p") %>
  </h3>

  <%= f.hidden_field :practice_id, value: @practice_id %>

  <table class='space'>
    <tr>
      <td><%= f.label :partner_id, "Assigned Recruiter" %></td>
      <td><%= f.select :partner_id, options_for_select(Partner.order("name").collect { |p| [p.name, p.id] }, selected: @partner_id) %></td>
    </tr>
    <tr>
      <td><%= f.label :contact_type %></td>
      <td><%= f.select :contact_type, Event::CONTACT_TYPE_VALS, include_blank: true %></td>
    </tr>
    <tr>
      <td><%= f.label :schedule_dt, "Scheduled Date" %></td>
      <td><%= f.text_field :schedule_dt, value: @event.schedule_dt.try(:strftime, "%m/%d/%Y"), class: 'datepicker' %> mm/dd/yyyy</td>
    </tr>
    <tr>
      <td><%= f.label :schedule_tm, "Scheduled Time" %></td>
      <td><%= f.text_field :schedule_tm, value: @event.schedule_tm.try(:strftime, "%l:%M %p"), type: "time" %> hh:mm MM</td>
    </tr>
    <tr>
      <td><%= f.label :outcome %></td>
      <td><%= f.select :outcome, Event::OUTCOME_VALS, include_blank: true %>
    </tr>
    <tr>
      <td><%= f.label :description, "Notes" %></td>
      <td><%= f.text_area :description, cols: 40, rows: 3 %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit "Update Contact" %>
  </div>
<% end %>
