<%= form_for([@partner, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>
    <%= @event.schedule_dt.try(:strftime, "%B %e, %Y")%>
    <%= @event.schedule_tm.try(:strftime, "%l:%M %p") %>
  </h3>

  <table class='space'>
    <tr>
      <td><%= f.label :practice_id, "Practice" %></td>
      <td><%= f.select :practice_id, options_for_select(policy_scope(Practice).order("name").collect { |p| [p.name, p.id] }, selected: @practice_id) %></td>
    </tr>
    <tr>
      <td><%= f.label :partner_id, "Assigned Recruiter" %></td>
      <td><%= f.select :partner_id, options_for_select(policy_scope(Partner).order("name").collect { |p| [p.name, p.id] }, selected: @event.partner_id || @recruiter_id) %></td>
    </tr>
    <tr>
      <td><%= f.label :schedule_dt, "Scheduled Date" %></td>
      <td><%= f.text_field :schedule_dt, value: @event.schedule_dt.try(:strftime, "%m/%d/%Y"), class: 'datepicker' %> mm/dd/yyyy</td>
    </tr>
    <tr>
      <td><%= f.label :schedule_tm, "Scheduled Time" %></td>
      <td><%= f.text_field :schedule_tm, value: @event.schedule_tm.try(:strftime, "%I:%M %p"), class: 'timefield' %> hh:mm MM</td>
    </tr>
    <tr>
      <td><%= f.label :contact_type, "Mode" %></td>
      <td><%= f.select :contact_type, Event::CONTACT_TYPE_VALS, { include_blank: true }, { class: 'enable-control', data: { :effector => '#event_contact_type_other', :enablevalue => 9 } } %></td>
    </tr>
    <tr class='disabled-question'>
      <td><%= f.label :contact_type_other, "Specify" %></td>
      <td><%= f.text_field :contact_type_other %></td>
    </tr>
    <tr>
      <td>Key Actions:</td>
      <td>
        <table>
          <tr>
            <td><%= f.label :outcome_pal_sent, "PAL sent" %></td>
            <td><%= f.check_box :outcome_pal_sent %></td>
          </tr>
          <tr>
            <td><%= f.label :outcome_pal_returned, "Enrolled/PAL returned" %></td>
            <td><%= f.check_box :outcome_pal_returned %></td>
          </tr>
          <tr>
            <td><%= f.label :outcome_complete_ehr, "EHR assessment complete" %></td>
            <td><%= f.check_box :outcome_complete_ehr %></td>
          </tr>
          <tr>
            <td><%= f.label :outcome_complete_characteristics, "Practice characteristics complete" %></td>
            <td><%= f.check_box :outcome_complete_characteristics %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><%= f.label :outcome %></td>
      <td><%= f.select :outcome, Event::OUTCOME_VALS %>
    </tr>
    <tr>
      <td><%= f.label :description, "Notes" %></td>
      <td><%= f.text_area :description, cols: 40, rows: 3 %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit "Update Activity" %>
  </div>
<% end %>
