<%= render 'layouts/header' %>

<h1> Activities for <%= link_to @practice.name, edit_partner_practice_path(@partner, @practice) %> </h1>

<div>
  <div id='openPopupForm'>
    <h3>Activities
      <a class='addButton' title="Add New Activity" rel="tooltip">
        <%= image_tag("plus-blue.png", size: "15x15") %>
      </a>
    </h3>
  </div>
  <%= render partial: 'layouts/event_new_popup' %>

  <% if @practice.events.any? %>
    <table class='typical enable-data-table'>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Assigned<br />Recruiter</th>
          <th>Mode</th>
          <th>Outcome</th>
          <th>Key Actions</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% @practice.events.order("schedule_dt, schedule_tm").each do |e| %>
          <tr>
            <td><%= link_to e.schedule_dt.try(:strftime, "%Y-%m-%d"), edit_practice_event_path(@practice, e), title: "Edit Contact", rel: "tooltip" %></td>
            <td><%= e.schedule_tm.try(:strftime, "%l:%M %p") %></td>
            <td><%= e.partner.name %></td>
            <td><%= Event::CONTACT_TYPE_VALS.key(e.contact_type) %></td>
            <td><%= Event::OUTCOME_VALS.key(e.outcome) %></td>
            <td><%= e.key_actions %></td>
            <td><%= truncate(e.description, length: 75) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <br />
    <h4> No activities noted. </h4>
    <br />
  <% end %>
</div>

<div class='clearfix'></div>

<%= link_to "Back", :back %>