<!-- NOT BEING USED -->
<%= render 'layouts/header' %>

<h2>
  <%= link_to "#{@event.practice.name}", practice_path(@event.practice), title: "View #{@event.practice.name}", rel: "tooltip" %>
</h2>
<h3>
  <%= @event.schedule_dt.try(:strftime, "%B %e, %Y")%>
  <%= @event.schedule_tm.try(:strftime, "%l:%M %p") %>
  <%= link_to image_tag("arrow-blue.png", size: "15x15"), edit_event_path(@event), class: 'addButton', title: 'Edit Contact', rel: 'tooltip' %>
</h3>
<table class='space'>
  <tr>
    <td> Recruiter </td>
    <td><%= link_to "#{@event.partner.name}", partner_path(@event.partner), title: "View #{@event.partner.name}", rel: "tooltip" %></td>
  </tr>
  <tr>
    <td> Contact Type </td>
    <td><%= @event.contact_type %></td>
  </tr>
  <tr>
    <td> Outcome </td>
    <td> <%= @event.outcome %></td>
  </tr>
  <tr>
    <td> Outcome Date </td>
    <td> <%= @event.outcome_dt.try(:strftime, "%B %e, %Y") %></td>
  <tr>
    <td>Notes</td>
    <td><%= @event.description %></td>
  </tr>
</table>

<div class='clearfix'></div>

<%= link_to "Back", :back %>