<%= form_for(@site) do |f| %>

  <div class='box'>
    <p class='title'>What are the primary barriers or challenges your coaches are currently experiencing in their coaching work?</p>
    <div id='add-barrier-note'>
      <%= link_to_add_association "Add new barrier", f, :manager_notes, partial: 'note_barrier_fields', 'data-association-insertion-method' => 'prepend', 'data-association-insertion-node' => '#manager_barriers' %>
    </div>
    <table class='space'>
      <thead>
        <tr>
          <td>Topic</td>
          <td>Comments</td>
          <td>Last Updated</td>
        </tr>
      </thead>
      <tbody id='manager_barriers'>
        <%= f.fields_for(:manager_notes, @manager_barriers) do |note| %>
          <%= render 'note_barrier_fields', :f => note %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='box'>
    <p class='title'>What are some of the successes your coaches are experiencing in their work with practices?</p>
    <div id='add-success-note'>
      <%= link_to_add_association "Add new success", f, :manager_notes, partial: 'note_success_fields', 'data-association-insertion-method' => 'prepend', 'data-association-insertion-node' => '#manager_successes' %>
    </div>
    <table class='space'>
      <thead>
        <tr>
          <td>Topic</td>
          <td>Comments</td>
          <td>Last Updated</td>
        </tr>
      </thead>
      <tbody id='manager_successes'>
        <%= f.fields_for(:manager_notes, @manager_successes) do |note| %>
          <%= render 'note_success_fields', :f => note %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='box'>
    <p class='title'>Based on what you are hearing from the coaches about their own work and what the practices’ needs are, what kinds of support are needed? This can include training, resources, access to expertise, etc. </p>
    <div id='add-success-note'>
      <%= link_to_add_association "Add new support", f, :manager_notes, partial: 'note_support_fields', 'data-association-insertion-method' => 'prepend', 'data-association-insertion-node' => '#manager_support' %>
    </div>
    <table class='space'>
      <thead>
        <tr>
          <td>Topic</td>
          <td>Comments</td>
          <td>Last Updated</td>
        </tr>
      </thead>
      <tbody id='manager_support'>
        <%= f.fields_for(:manager_notes, @manager_support) do |note| %>
          <%= render 'note_support_fields', :f => note %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= f.submit "Save Notes" %>
  </div>
<% end %>
