<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id='left-2'>
  <table class='space'>
    <tr>
      <td><%= f.label :name, "Name" %></td>
      <td><%= f.text_field :name, size: 40 %></td>
    </tr>
    <tr>
      <td><%= f.label :partner, "Affiliated Partner" %></td>
      <td><%= f.select :partner_id, options_for_select(Partner.order("name").map{ |p| [p.name, p.id] }, selected: @practice.partner_id) %></td>
    </tr>
    <tr>
      <td><%= f.label :address %></td>
      <td><%= f.text_field :address, size: 40 %></td>
    </tr>
    <tr>
      <td><%= f.label :phone %></td>
      <td><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <td><%= f.label :url, "URL" %></td>
      <td><%= f.text_field :url, size: 40 %></td>
    </tr>
  </table>
  </div>

  <div id='right-2'>
    We'll need to figure out all the data we want to collect here and
    we'll want categories to be defined for some questions
    before we make this section editable.
    <table class='space'>
      <tr>
        <td>Ownership</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Organization Type</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Designation</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Lead Source</td>
        <td>4</td>
      </tr>
      <tr>
        <td>MD FTE</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Patients/year</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Population Served</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Types of Payors</td>
        <td>8</td>
      </tr>
    </table>
  </div>

  <div class='clearfix'>
    <table>
    <tr>
      <td span='2'>
        <table class='typical'>
          <tr>
            <td><%= f.label :milestone_1 %></td>
            <td><%= f.label :milestone_2 %></td>
            <td><%= f.label :milestone_3 %></td>
          </tr>
          <tr>
            <td><%= f.check_box :milestone_1 %></td>
            <td><%= f.check_box :milestone_2 %></td>
            <td><%= f.check_box :milestone_3 %></td>
          </tr>
        </table>
      </td>
    </tr>
    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
