<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id='left-2'>
    <table class='space'>
      <tr>
        <td><%= f.label :name, "Name" %></td>
        <td><%= f.text_field :name, size: 40 %></td>
      </tr>
      <tr>
        <td><%= f.label :partner_id, "Affiliated Partner" %></td>
        <td><%= f.select :partner_id, options_for_select(Partner.order("name").map{ |p| [p.name, p.id] }, selected: @practice.partner_id || @partner_id) %></td>
      </tr>
      <tr>
        <td><%= f.label :address %></td>
        <td><%= f.text_field :address, size: 40 %></td>
      </tr>
      <tr>
        <td><%= f.label :status %></td>
        <td><%= f.select :status, Practice.statuses.keys %></td>
      </tr>
      <tr>
        <td><%= f.label :phone %></td>
        <td><%= f.text_field :phone %></td>
      </tr>
      <tr>
        <td><%= f.label :url, "URL" %></td>
        <td><%= f.text_field :url, size: 40 %></td>
      </tr>
    </table>
  </div>

  <div id='right-2'>
    <table class='space'>
      <tr>
        <td><%= f.label :primary_care, "Primary care practice with Family Physicians or General Internists" %></td>
        <td><%= f.select :primary_care, [["no",0],["yes",1]] %></td>
      </tr>
      <tr>
        <td><%= f.label :md_fte, "Number of MD FTE at street address of practice" %></td>
        <td><%= f.text_field :md_fte, size: 5 %></td>
      </tr>
      <tr>
        <td><%= f.label :emr_certified, "Certified EMR" %></td>
        <td><%= f.select :emr_certified, [["no",0],["yes",1]] %></td>
      </tr>
      <tr>
        <td><%= f.label :emr_certified_year, "Year of Certified EMR" %></td>
        <td><%= f.text_field :emr_certified_year, size: 5 %></td>
      </tr>
      <tr>
        <td>HTE assessment complete</td>
        <td><%= @practice.hte_complete %> </td>
      </tr>
    </table>
  </div>

  <div class='clearfix'></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
