<div class='nested-fields box'>
  <table class='space'>
    <tr>
      <td><%= f.label :name %></td>
      <td colspan='3'><%= f.text_field :name %></td>
      <td><%= f.label :role %></td>
      <td><%= f.select :role, Personnel::ROLE_VALS, include_blank: true %></td>
      <td>
        <%= f.label :role_other, "Specify: " %><%= f.text_field :role_other, size: 10 %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :phone1, "Phone 1" %></td>
      <td><%= f.text_field :phone1 %></td>
      <td>Best Contact? <%= f.check_box :phone1_best %></td>
      <td>&nbsp;</td>
      <td><%= f.label :email1, "Email 1" %></td>
      <td><%= f.text_field :email1 %></td>
      <td>Best Contact? <%= f.check_box :email1_best %></td>
    </tr>
    <tr>
      <td><%= f.label :phone2, "Phone 2" %></td>
      <td><%= f.text_field :phone2 %></td>
      <td>Best Contact? <%= f.check_box :phone2_best %></td>
      <td>&nbsp;</td>
      <td><%= f.label :email2, "Email 2" %></td>
      <td><%= f.text_field :email2 %></td>
      <td>Best Contact? <%= f.check_box :email2_best %></td>
    </tr>
    <tr>
      <td>EHR<br /> Duties:</td>
      <td colspan="6" style="vertical-align: bottom;">
        <%= f.label :ehr_extractor, "Extract Data" %>
        <%= f.check_box :ehr_extractor %>
        <%= f.label :ehr_helper, "Help with Problems" %>
        <%= f.check_box :ehr_helper %>
        <%= f.label :ehr_cqm, "CQM Reports" %>
        <%= f.check_box :ehr_cqm %>
      </td>
    </tr>
    <tr>
      <td colspan='7'><%= link_to_remove_association "Delete Staff Member", f %></td>
    </tr>
  </table>
</div>