<div id='wrapper'>
<%= render 'layouts/header' %>

<h1>Recruitment</h1>

<table class='typical enable-data-table'>
  <thead>
    <tr>
      <th>Practice</th>
      <th>Recruiter</th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= link_to practice.name, edit_practice_path(practice) %></td>
        <td><%= practice.recruiter.name if practice.recruiter %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Practice', new_practice_path %>
<br />

<%= link_to "Back", :back %>
</div>