<div id='wrapper'>
<%= render 'layouts/header' %>

<h1>All Practices</h1>

<p>I'll probably want to display a Recruiter column for Recruiters,
 a Coach column for coaches, and both for admins. </p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= practice.name %></td>
        <td><%= practice.partner.name %></td>
        <td><%= link_to 'Edit', edit_practice_path(practice) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practice', new_practice_path %>
</div>