<div id='wrapper'>
<%= render 'layouts/header' %>

<h1>Practices</h1>

<table class='typical enable-data-table'>
  <thead>
    <tr>
      <th>Practice</th>
      <th>Site</th>
      <th>Study ID</th>
      <th>Recruiter</th>
      <th>Coach</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= link_to practice.name, edit_practice_path(practice) %></td>
        <td><%= practice.site.name if practice.site %></td>
        <td><%= practice.study_id if practice.study_id %></td>
        <td><%= practice.recruiter.name if practice.recruiter %></td>
        <td><%= practice.coach.name if practice.coach %></td>
        <td>
          <% if practice.active == false %>
            <%= link_to "Re-enter", edit_dropout_path(practice) %>
          <% elsif practice.active == true %>
            <%= link_to "Drop out", edit_dropout_path(practice) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Add New Practice', new_practice_path %>
<br />
<br />
<%= link_to "Back", :back %>
</div>