<%= render 'layouts/header' %>

<div id='left-13'>
  <h2> <%= @practice.name %>
    <%= link_to image_tag("arrow-blue.png", size: "15x15"), edit_practice_path(@practice), class: 'addButton', title: 'Edit Practice', rel: 'tooltip' %>
  </h2>
  <table class='space'>
    <tr>
      <td> Primary Recruiter </td>
      <td><%= link_to @practice.partner.name, partner_path(@practice.partner) %></td>
    </tr>
    <tr>
      <td> Address </td>
      <td> <%= link_to @practice.address, "https://maps.google.com/maps?q=#{@practice.address}", :target => '_blank' %> </td>
    </tr>
    <tr>
      <td>Phone</td>
      <td> <%= @practice.phone %></td>
    </tr>
    <tr>
      <td>URL</td>
      <td><%= link_to @practice.url, @practice.url, :target => '_blank' %></td>
    </tr>
  </table>

  <div id='openPopupForm' class='extraTopSpace'>
    <h3>Staff
      <a class='addButton' title="Add New Staff" rel="tooltip">
        <%= image_tag("plus-blue.png", size: "15x15") %>
      </a>
    </h3>
  </div>
  <div id='popupForm' class='popupForm-large'>
    <%= form_for([@practice, @personnel]) do |f| %>
      <% if @personnel.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@personnel.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
          <% @personnel.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div id="closePopupForm">
        <a><%= image_tag("close.gif", alt: "Close") %></a>
      </div>
      <h3>Add Staff</h3>
      <%= f.hidden_field :practice_id, value: @practice.id %>
      <table class='space'>
        <tr>
          <td><%= f.label :name %></td>
          <td colspan='2'><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label :role %></td>
          <td><%= f.select :role, Personnel.roles.keys, include_blank: true %></td>
        </tr>
        <tr>
          <td><%= f.label :phone1, "Phone 1" %></td>
          <td><%= f.text_field :phone1 %></td>
          <td>Best Contact? <%= f.check_box :phone1_best %></td>
        </tr>
        <tr>
          <td><%= f.label :email1, "Email 1" %></td>
          <td><%= f.text_field :email1 %></td>
          <td>Best Contact? <%= f.check_box :email1_best %></td>
        </tr>
        <tr>
          <td><%= f.label :phone2, "Phone 2" %></td>
          <td><%= f.text_field :phone2 %></td>
          <td>Best Contact? <%= f.check_box :phone2_best %></td>
        </tr>
        <tr>
          <td><%= f.label :email2, "Email 2" %></td>
          <td><%= f.text_field :email2 %></td>
          <td>Best Contact? <%= f.check_box :email2_best %></td>
        </tr>
      </table>
      <div class="actions">
        <%= f.submit "Add Staff" %>
      </div>
    <% end %>
  </div>

  <% if @practice.personnels.any? %>
    <table class='typical enable-data-table'>
      <thead>
      <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Best Contact</th>
        </tr>
      </thead>
      <tbody>
        <% @practice.personnels.order("name").each do |p| %>
          <tr>
            <td><%= link_to p.name, edit_practice_personnel_path(@practice, p) %></td>
            <td><%= p.role %></td>
            <td><%= p.best_contact %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p> No staff noted. </p>
  <% end %>
</div>

<div id='right-23'>
  <h3> Activity Log <%= link_to image_tag("plus-arrow-blue.png", size: "30x15", alt: "Schedule New Event"), new_practice_event_path(@practice), class: 'addButton', title: 'Add New Contact', rel: 'tooltip' %>
  </h3>
  <% if @practice.events.any? %>
    <table class='typical enable-data-table'>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Recruiter</th>
          <th>Mode</th>
          <th>Outcome</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% @practice.events.order("schedule_dt, schedule_tm").each do |e| %>
          <tr>
            <td><%= link_to e.schedule_dt.try(:strftime, "%-m/%-d/%Y"), practice_event_path(@practice, e) %></td>
            <td><%= e.schedule_tm.try(:strftime, "%l:%M %p") %></td>
            <td><%= e.partner.name %></td>
            <td><%= Event::CONTACT_TYPE_VALS.key(e.contact_type) %></td>
            <td><%= Event::OUTCOME_VALS.key(e.outcome) %></td>
            <td><%= truncate(e.description, length: 75) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p> No events exist. </p>
  <% end %>
</div>

<div class='clearfix'></div>

<%= link_to "Back", :back %>