<div id='wrapper'>
<%= render 'layouts/header' %>

<h1>Admin Area</h1>

<% if current_partner.supervisor? %>
  <h2>
    <%= link_to "Coaches List", coach_assignments_path %>
  </h2>
  <h2>
    <%= link_to "Recruiters List", practices_path %>
  </h2>
  <h2>
    <%= link_to "Export Practice Data", practices_path(format: "csv") %>
  </h2>
  <h2>
    <%= link_to "Export Intervention Contacts Data", ivcontacts_path(format: "csv") %>
  </h2>
  <h2>
    <%= link_to "Export Qualitative Data", qualitative_export_path(format: "zip") %>
  </h2>
<% end %>

<% if current_partner.admin? %>
  <h2>
    <%= link_to "System Users List", list_partners_path %>
  </h2>
<% end %>

</div>