<div id='front-page'>

	<%= image_tag "HHNW_MacColl_logo_rgb_reverse.png", size: "480x179", alt: "Healthy Hearts Northwest Logo" %>

	<h1>Healthy Hearts Northwest</h1>
	<p>Welcome, Healthy Hearts Northwest Staff!</p>
	<p>Use the H2N Database to enter recruitment, enrollment and practice support information.</p>

	<p>Please <%= link_to "log in", partners_path %> to continue.</p>

	<div class="image-background">
		<div class="horiz-center">
			<%= image_tag "new-MacColl-logo.png", size: "256x73", alt: "GHRI MacColl Logo" %>
			<%= image_tag "ORPRN Logo.png", size: "256x73", alt: "ORPRN Logo" %>
			<%= image_tag "Qualis.png", size: "256x108", alt: "Qualis Logo" %>
			<%= image_tag "WPRNlogo1.png", size: "256x143", alt: "WPRN Logo" %>
		</div>
	</div>

	<footer>
		This project is supported by grant number R18HS023908 from the Agency for Healthcare Research and Quality.
	</footer>

</div>