<%= form_for(@practice_survey) do |f| %>
  <% if @practice_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice_survey.errors.count, "error") %> prohibited this Practice Survey from being saved:</h2>

      <ul>
      <% @practice_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :last_page_saved, :value => 2 %>

  <ol>
  <li class='survey-question'>
    <p class='survey-question-title'>
      Please estimate the total number of patient visits over a typical week at your practice.
    </p>
    <p>
      <%= f.label :pat_visits_week, "Provide number of visits per week:" %></td>
      <%= f.text_field :pat_visits_week, :size => 5 %>
    </p>
  </li>

  <li class='survey-question'>
    <p class='survey-question-title'>
      Do the clinicians at your practice have their own panel for patients for whom they are responsible?
    </p>
    <p>
      <%= f.collection_radio_buttons :pat_panel, PracticeSurvey::YN12_VALS, "last", "first" %>
    </p>
  </li>

  <li class='survey-question'>
    <p class='survey-question-title'>
      Please estimate the average patient panel size for a full-time clinician in your practice.
    </p>
    <p>
      <%= f.label :pat_panel_sz, "Provide average panel size:" %>
      <%= f.text_field :pat_panel_sz, :size => 5 %>
    </p>
  </li>

  <li class='survey-question'>
    <p class='survey-question-title'>
      On average, how many patients does a full-time clinician see on a typical day?
    </p>
    <p>
      <%= f.label :prov_visits_day, "Provide average number of patients:" %>
      <%= f.text_field :prov_visits_day, :size => 5 %>
    </p>
  </li>
  </ol>

  <div class="actions">
    <%= f.submit "Save & Continue >>" %>
  </div>
<% end %>
