<header>
	<% if partner_signed_in? %>
		<% if current_partner.recruiter %>
			<%= link_to image_tag("HHNW_enow_logo_grayscale_reverse.png", size: "228x86", alt: "Link to Home Page"), partner_path(current_partner), title: "Home", rel: "tooltip" %>
		<% elsif current_partner.coach %>
			<%= link_to image_tag("HHNW_enow_logo_grayscale_reverse.png", size: "228x86", alt: "Link to Home Page"), list_coach_practice_path(current_partner), title: "Home", rel: "tooltip" %>
		<% else %>
			<%= link_to image_tag("HHNW_enow_logo_grayscale_reverse.png", size: "228x86", alt: "Link to Home Page"), root_path %>
		<% end %>
		<div class='signout'>
			<table class='space'>
				<tr>
					<td>
						<% if current_partner.site_id == Site.where(name: "Qualis").first.id %>
							Recruited: <%= thermometer("WA") %><br />
							Recruited: <%= thermometer("ID") %>
						<% elsif current_partner.site.id == Site.where(name: "ORPRN").first.id %>
							Recruited: <%= thermometer("OR") %>
						<% else %>
							&nbsp;
						<% end %>
					</td>
					<td>
						<% if current_partner.recruiter %>
							<%= link_to "Recruiter Area", partner_path(current_partner), title: "Tasks for the Practice Recruiting Phase of the project" %>
						<% else %>
							&nbsp;
						<% end %>
					</td>
					<td>
						<% if current_partner.supervisor? %>
							<%= link_to "Manager Area", supervisor_area_path, title: "Tasks for Supervisors of Recruiters & Coaches" %>
						<% else %>
							<%= link_to "Coach List", coach_assignments_path %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<% if current_partner.coach %>
							<%= link_to "Coach Area", list_coach_practice_path(current_partner), title: "Tasks for the Intervention Phase of the project" %>
						<% else %>
							&nbsp;
						<% end %>
					</td>
					<td><%= link_to "Change password", edit_partner_registration_path %></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<% if current_partner.admin? %>
							<%= link_to "Admin Area", admin_area_path, title: "Tasks for administrators of this web application." %>
						<% else %>
							&nbsp;
						<% end %>
					</td>
					<td><%= link_to "Sign out, #{current_partner.name}", destroy_partner_session_path, :method => :delete %></td>
				</tr>
			</table>
		</div>
	<% else %>
		<%= link_to image_tag("HHNW_enow_logo_grayscale_reverse.png", size: "228x86", alt: "Link to Home Page"), root_path %>
	<% end %>
</header>