<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? "H2N: #{@page_title}" : "Healthy Hearts Northwest" %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= jquery_include_tag :google %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png' %>
  <%= favicon_link_tag 'favicon-96x96.png', rel: 'icon', sizes: '96x96', type: 'image/png' %>
  <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png' %>
  <meta name="msapplication-config" content="none"/>
  <meta name="theme-color" content="#ffffff">
</head>
<body>
	<p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
